*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-image{
    background-image: url('/assets/FONDO-NARANJA2.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.banner-image2{
    background-image: url('/assets/Fondo-blanco.svg');
    /* background-repeat: no-repeat; */
    background-size: cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner-image3{
    background-image: url('/assets/FONDO-NARANJA2.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

@media (max-width: 500px) {
    .banner-image3{
        max-height: 100vh;
    }
}

a{
    text-emphasis: none;
    font-family: sans-serif;
    font-weight: bold;
}

.rectangulo{
    background-image: url('../assets/rectangulo-gris.svg');
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ocupar todo el ancho del contenedor */
    height: 30%; /* Ajusta la altura que desees */
}

.color-naranja {
    color: #FF9900; /* Cambia este color según tus preferencias */
}

.carrousel1{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ocupar todo el ancho del contenedor */
    height: 30%; /* Ajusta la altura que desees */
}

.svg{
    padding: 3%;
    width: 8rem;
    height: 8rem;
}

#s1{
    padding: 1%;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f6f9fd;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #666;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #EF7D0A;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #EF7D0A;
  }

  .section-title2 p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .section-title2 {
    padding-bottom: 40px;
  }
  
  .section-title2 h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #666;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title2 h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #EF7D0A;
    margin: 4px 10px;
  }
  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  
  .about .content ul li+li {
    margin-top: 10px;
  }
  
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #EF7D0A;
    line-height: 1;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #EF7D0A;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #EF7D0A;
  }
  
  .about .content .btn-learn-more:hover {
    background: #FF9900;
    color: #fff;
    text-decoration: none;
  }

  .about .content{
    color: #EF7D0A;
  }

  .about p{
    font-weight: bold;
  }
  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  background-image: url('/assets/Fondo-Naranja.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.services .icon-box {
    text-align: center;
    background: url('/assets/rectangulo-gris.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    height: 90%;
  }

  
  
  /* .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #ed502e;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #f9c6bb;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
    z-index: 1;
  } */
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4{
    color: #EF7D0A;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #FF9900;
    border: solid;
    border-color: #EF7D0A;
  }
  
  /* .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #ed502e;
  }
  
  .services .icon-box:hover .icon::before {
    background: #f1775d;
  } */
  
  .services .icon-box:hover h4,
  .services .icon-box:hover p {
    color: #fff;
  }

  /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #0b2341;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #ed502e;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #0b2341;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    color: #1a5298;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link,
  .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #123a6d;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link:hover,
  .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #ed502e;
  }
  
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
  }
  
  .portfolio .portfolio-item .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-item .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-item .portfolio-links a:hover {
    color: #f59f8c;
  }
  
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #ed502e;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ed502e;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(11, 35, 65, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }

  /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials{
  background-image: url('/assets/Fondo-blanco.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials .testimonial-wrap {
    padding-left: 50px;
  }
  
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  
  .testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 0px 20px 0px rgba(11, 35, 65, 0.1);
    position: relative;
    background: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    /* border-radius: 10px;
    border: 6px solid #fff; */
    position: absolute;
    left: -45px;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: #fdedea;
    font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
  }
  
  .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #EF7D0A;
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #EF7D0A;
  }
  
  /*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
  .cta {
    padding: 80px 0;
    background: #EF7D0A;
  }
  
  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  .cta p {
    color: #fff;
  }
  
  .cta .cta-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #ed502e;
    color: #fff;
  }
  
  .cta .cta-btn:hover {
    background: #ed502e;
    border: 2px solid #ed502e;
  }

  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background-image: url('/assets/Fondo-Naranja.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .info-box {
    color: #0b2341;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #EF7D0A;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fbdad2;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 15px 0;
    background: #f6f9fd;
    min-height: 40px;
    margin-top: 82px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 74px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 600;
    color: #0b2341;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #123a6d;
    content: "/";
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #071527;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #05101e;
  border-top: 4px solid #ed502e;
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background: #0a1e38;
}

#footer .footer-top .social-links a:hover {
  color: #fff;
  background: #ed502e;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ef6445;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ef6445;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #ed502e;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ef6445;
}

#footer .copyright {
  border-top: 1px solid #0f2f57;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

/* Estilos para el fondo blanco cuando el menú está desplegado */
.navbar-collapse.show {
  background-color: rgba(10, 30, 56, 0.6);
  width: 80%;
  height: 40vh;
  transition: 0.5s;
}

.social{
  display: none;
}

@media (max-width: 992px) {
  .navbar-nav #n-link{
    color: #fff;
  }

  .social{
    display: block;
    text-align: center;
  }

  .social-links-2 a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background: #0a1e38;
  }
  
  .social-links-2 a:hover {
    color: #fff;
    background: #EF7D0A;
    text-decoration: none;
  }
}

/* customisar tamaño de imagenes productos */

.prod_img {
  width: 300px;
  height: 300px;
}

#btnLogo{
  width: 3rem;
  height: 2rem;
}

#nav-logo{
  width: 4rem;
  height: 1.5rem;
}